<% if current_user %>
<div class="pull-right">
  <button type="button" class="btn btn-default dropdown-toggle"
  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <%= current_user.name %> <span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <li><%= link_to 'Log out', session_destroy_path %></li>
</ul>
</div>
<% end %>
