<div class="container">
  <div class="row">
    <div class="col-md-12">
      <small>
        <%= link_to icon('chevron-left', 'Suggestions'), suggestions_path, :class => 'pull-left' %>
      </small>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12">
      <h1 class="text-center">Editing Suggestion</h1>
    </div>
  </div>
  <%= render 'form' %>

</div>
