<div class="container">
  <div class="row clearfix">
    <div class="col-md-12">
      <%= link_to icon('chevron-left', 'Suggestions'), suggestions_path, :class => 'pull-left' %>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12">
      <h1 class="text-center">New Suggestion</h1>
    </div>
  </div>
  <%= render 'form' %>

</div>
