<nav class="navbar navbar-default navbar-static-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#"></a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">

         </ul>
         <ul class="nav navbar-nav navbar-right">
           <li><%= link_to 'Suggestions', suggestions_path %></li>
           <% if not current_user %>
           <li><%= link_to 'Login', login_path %></li>
           <% else %>
           <%= render 'layouts/user' %> 
           <% end %>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
